*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family:  "Bubblegum Sans", sans-serif;
}

body{
    background-image: url(img/gishath_back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover  ;
    backdrop-filter: blur(1px);
}


header{
    top: 0;
    position: sticky;
    z-index: 2;
    height: 7vw;
    padding: 0vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00000044;
    border-bottom: 0.1vw solid rgb(85, 85, 85);
}

header div{
    display: flex;
    align-items: center;
}
header div h1{
    font-size: 2vw;
}
.logo{
    margin-right: 1vw;
    width: 5vw;
    border-radius: 50%;
    transition: 0.3s ;
    filter: brightness(85%);
    box-shadow: 0 0 0.5vw black;
}
.logo:hover{
    box-shadow: 0 0 0.5vw rgb(71, 71, 71);
    transition: 0.3s ;
}
nav a{
    font-size: 1.5vw;
    margin: 0 2vw;
    text-decoration: none;
    transition: 0.2s;
}
nav a:hover{
    color: rgb(247, 126, 28) ;
    text-shadow: 0.1vw 0.1vw 0 rgb(83, 83, 83);
    font-size: 1.7vw;
    transition: font-size 0.2s, color 0.2s;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2vw;
    flex-direction: column;
}



.CommanderPreviewDiv{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.CommanderPreviewDiv img{
    width: 12vw;
    border-radius: 50%;
    box-shadow: 0 0 1vw black;
    margin-right: 5vw;
}
.CommanderPreviewDiv h1{
    font-size: 4vw;
    text-shadow: 0 0 1vw black;
}
.DescriptionDiv{
    padding: 3vw;
    margin: 2vw 5vw;
    border-radius: 3vw ;
    box-shadow: 0 0 3vw black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000067;
    transition: 0.1s;
}
.DescriptionDiv:hover{
    box-shadow: 0 0 3.5vw black;
    transition: 0.1s;
}
.DescriptionDiv h1{
    text-shadow: 0 0 1vw  rgb(167, 129, 7);
    margin: 1vw;
    font-size: 3vw ;
}
.DescriptionDiv h2{
    text-shadow: 0 0 1vw black;
    color: rgb(236, 112, 11);
    margin: 1vw;
    font-size: 2vw;
}
.DescriptionDiv p{
    font-size: 1.5vw;
}
.DescriptionDiv img{
    width: 20vw;
    margin: 0 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 1.5vw rgb(160, 160, 160);
    transition: 0.1s;
}
.DescriptionDiv img:hover{
    transition: 0.1s;
    box-shadow: 0 0 1.5vw rgb(255, 255, 255);
}




footer{
    background-color: #00000041;
    margin-top: 2vw;
    position: relative;
    display: flex;
    text-align: center;
    border-top: 0.1vw solid rgb(85, 85, 85);
}
footer p {
    flex: 1;
    margin: 4vw 0 4vw 0;
    font-size: 1.5vw;
    color: rgb(151, 151, 151);
    text-shadow: 0 0 1vw rgb(0, 0, 0);
}