*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family:  "Bubblegum Sans", sans-serif;
}

body{
    background-image: url(img/sample2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover  ;
}


header{
    top: 0;
    position: sticky;
    z-index: 2;
    height: 7vw;
    padding: 0vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00000044;
    border-bottom: 0.1vw solid rgb(85, 85, 85);
}

header div{
    display: flex;
    align-items: center;
}
header div h1{
    font-size: 2vw;
}
.logo{
    margin-right: 1vw;
    width: 5vw;
    border-radius: 50%;
    transition: 0.3s ;
    filter: brightness(85%);
    box-shadow: 0 0 0.5vw black;
}
.logo:hover{
    box-shadow: 0 0 0.5vw rgb(71, 71, 71);
    transition: 0.3s ;
}
nav a{
    font-size: 1.5vw;
    margin: 0 2vw;
    text-decoration: none;
    transition: 0.2s;
}
nav a:hover{
    color: rgb(247, 126, 28) ;
    text-shadow: 0.1vw 0.1vw 0 rgb(83, 83, 83);
    font-size: 1.7vw;
    transition: font-size 0.2s, color 0.2s;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2vw;
}

.NothingNewDiv{
    padding: 5vw;
    margin: 7.5vw;
    border-radius: 2vw;
    box-shadow: 0 0 3vw black;
    backdrop-filter: blur(3px);
}
.NothingNewDiv h1{
    font-size: 3vw;
    text-shadow: 0 0 1vw black;
}


footer{
    background-color: #00000041;
    margin-top: 2vw;
    position: relative;
    display: flex;
    text-align: center;
    border-top: 0.1vw solid rgb(85, 85, 85);
}
footer p {
    flex: 1;
    margin: 4vw 0 4vw 0;
    font-size: 1.5vw;
    color: rgb(151, 151, 151);
    text-shadow: 0 0 1vw rgb(0, 0, 0);
}